{% extends 'base.html.twig' %}

{% block title %}Upiti{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">/pehape</a></li>
            <li class="breadcrumb-item">Upiti</li>
        </ol>
    </nav>

    <h1>Upiti</h1>

    <table class="table datatable">
        <thead>
            <tr>
                <th>Naslov</th>
                <th>Datum</th>
                <th>Korisnik</th>
                <th>akcije</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.subject }}</td>
                    <td>{{ question.dateTime|date('d.m.Y H:i:s') }}</td>
                    <td>{{ question.user.username }}</td>
                    <td>
                        <a href="{{ path('question_show', {'id': question.id}) }}">prikaži</a>
                        {% if is_granted('ROLE_SUPERADMIN') or app.user.username == question.user.username %}
                            <a href="{{ path('question_edit', {'id': question.id}) }}">izmjena</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
