{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">/pehape</a></li>
            <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Korisnici</a></li>
            <li class="breadcrumb-item active">Izmjena: {{ user.username }}</li>
        </ol>
    </nav>
    <h1>Izmjena korisnika</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Spremi'}) }}

    {% if is_granted('ROLE_SUPERADMIN') %}
        {{ include('user/_delete_form.html.twig') }}
    {% endif %}

    <a href="{{ path('user_index') }}">povratak na listu</a>
{% endblock %}
